.site-footer{
    padding: 25px;
    text-align: center;
    font-family: $alt-font;
    background: $mid-green;
    @media screen and (min-width: 850px){
        padding: 45px 25px;
    }
    p{
        color: $black;
        opacity: 0.5;
    }
}

.site-footer__link{
    &:hover{
        text-decoration: none
    }
}