$max-width: 1100px;

$brand-green: #1E9EA3;
$yellow: #EEE8A9;
$white: #fafafa;
$bright-green: #007651;

$main-font: Aleo, serif;
$alt-font: Muli, sans-serif;

*{
    font-family: $main-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}